.container {
    margin: 5rem 2rem;
    height: 100vh;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1.2fr) 1fr;
    grid-template-rows: 1fr 1.5fr 2fr 0.8fr;
    background-color: lightskyblue;
    gap: 2rem;
}

.box{
    
    background-color: royalblue;
    padding: 2rem;

}


.header {
    grid-column: 1/5;
}

.smallbox1 {
    grid-column: 1/2;
}

.sidebar {
    grid-column: 4/5;
    grid-row: 2/4;
}


.maincontent{
    grid-column: 1/4;
}


.footer{
    grid-column: 1/5;
}


